<body>
    <header>
      <nav>
          <ul>
              <li><a href="/" class=mainMenu>홈</a></li>
              <li><a href="/LiveBoard"class=mainMenu>실시간 종목 토론</a></li>
              <li><a href="/FreeBoard"class=mainMenu>자유게시판</a></li>
              <li><a href="/SignUp"class=mainMenu>회원가입</a></li>
              <li><a href="/Login"class=mainMenu>로그인</a></li>
          </ul>
      </nav>
  </header>