@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'NEXON Lv1 Gothic OTF';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* 글자는 rem으로 높이와 너비는 vh와 vw로 대대적인 개편을 진행해야할듯
사용자의 환경에 맞게 /

/*
상단
*/
header {
    position: fixed;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
}

nav ul {
    background-color: black;
    height: 70px;
    padding: 0px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    width: 20%;
    color: white;
    padding: 25px;
    text-align: center;
    border: 1px solid white;
    box-sizing: border-box;
    border-collapse: collapse;
    margin-right: -5.3px;
}

/*nav 관리자용 페이지를 넣었을 경우
nav ul li {
    list-style: none;
    display: inline-block;
    width: 16.6666667;
    color: white;
    padding: 25px;
    text-align: center;
    border: 1px solid white;
    margin-right: -5.3px;
}
*/

.mainMenu {
    cursor: pointer;
}

.mainMenu:hover,
.mainMenu:active {
    color: yellow;
}

/*
중단
*/

h1 {
    text-align: center;
    font-size: 100px;
    margin: 80px 0px 30px;
}

#searchCoin {
    text-align: center;
}

#searchCoinText {
    font-size: 30px;
}

#searchCoin_btn {
    font-size: 20px;
}

#nowCoin {
    font-size: 25px;
    color: red;
    display: inline-block;
    padding: 20px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
}

#coinImg {
    height: 20px;
    width: 20px;
}

/* #allFilter {
    text-align: center;
    padding-bottom: 10px;
    margin-left: 150px;
} */
#highFilter,
#lowFilter {
    display: inline-block;
    position: relative;
    top: 10px;

}

#price_high,
#price_low,
#volume_high,
#volume_low {
    padding: 0;
    border: 0;
}



#nowPriceText,
#nowVolumeText {
    display: inline-block;
    margin-bottom: 20px;
}

.chevronImg {
    max-width: 10px;
    height: auto;
}

.imgBtn :hover{
    background-color: yellow;
}

.imgBtn:active {
    background-color: black
}

/* #nowPrice,#nowVolume{
    padding-bottom: 20px;
} */
/*
테이블
*/

#main_table {
    width: 70%;
    border-collapse: collapse;
    border-spacing: 0px;
    table-layout: fixed;
    margin: 0 auto;
    text-align: center;
}

#categori {
    width: 18%;
}

thead tr {
    border-bottom: 2px solid black;
}

tbody tr {
    border-bottom: 1px solid rgb(204, 203, 203);
}

tbody td {
    padding: 20px 0px;
}

/*
하단
*/

footer {
    margin-top: 100px;
}

#copyright {
    text-align: center;
}