@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'NEXON Lv1 Gothic OTF';
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 120vh;
}

/*   
상단
  */
header {
    flex: 1;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

nav ul {
    background-color: black;
    height: 8vh;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 0;
}

nav ul li {
    flex: 1;
    list-style: none;
    color: white;
    text-align: center;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainMenu {

    cursor: pointer;
    display: flex;
    justify-content: center;
}

.mainMenu:hover {
    color: yellow;
}

.mainMenu:active {
    position: relative;
    top: 0.3vh;
}

/*   
중단
  */


section {
    flex: 1;
    width: 130vh;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.1rem;
}


h1 {
    font-size: 5rem;
    padding-top: 8vh;
}


#searchCoin {
    padding: 2vh 0;
}

#nowCoin {
    font-size: 2rem;
    padding: 2vh 0;
}

#searchCoin_btn {
    font-size: 1.3rem;
    border: 0.1rem solid black;
}

#searchCoinText {
    font-size: 2rem;
    border-bottom: 1px solid black;
    text-align: center;
}

#searchCoin_btn:active {
    position: relative;
    top: 0.1vh;
}

#coinImg {
    display: inline-block;
    height: auto;
    width: 3vh;
    position: relative;
    top: 0.3vh;
}

#time {
    position: absolute;
    top: 42vh;
    left: 86.5vh;
}

#volumeBox {
    display: flex;
    flex-direction: row;
}

#volumeBox span{
    display: inline-block;
    padding-top: 6px;
    padding-right: 2px;
}

#priceBox {
 display: flex;
 flex-direction: row;
}

#priceBox span{
    display: inline-block;
    padding-top: 6px;
    padding-right: 2px;
}

#priceBox div{
    font-size: 15px;
}

#volumeBox div{
        font-size: 15px;
}


 #filterPriceLow:active, #filterVolumeLow:active{
    position: relative;
    top: 0.3vh;
}

#filterVolumeHigh:active,#filterPriceHigh:active{
    position: relative;
    bottom: 0.3vh;
}


#categoriBox {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 130vh;
    border-bottom: 1px solid black;
    padding-bottom: 3vh;
}


#resultBox {
    flex: 8;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    width: 130vh;
    flex-direction: column;
}

.categori {
    flex: 1;
    text-align: center;
    font-size: 1.3rem;
}

.resultData {
    flex: 1;
    text-align: center;
}

.dataBundle {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 130vh;
    flex-direction: row;
    padding: 5vh 0;
    border-bottom: 1px solid rgb(204, 203, 203);
}

/*
  하단
  */

footer {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}