@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
}

*,
:after,
:before {
    box-sizing: border-box;
    flex-shrink: 0;
}

:root {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    cursor: default;
    line-height: 1.5;
    overflow-wrap: break-word;
    -moz-tab-size: 4;
    tab-size: 4
}

html,
body {
    height: 100%;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

button {
    background: none;
    border: 0;
    cursor: pointer;
}

a {
    text-decoration: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}


* {
    font-family: 'NEXON Lv1 Gothic OTF';
}

body {
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    padding-top: 75px;
}

/* 글자는 rem으로 높이와 너비는 vh와 vw로 대대적인 개편을 진행해야할듯
사용자의 환경에 맞게 /

/*
상단
*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

nav ul {
    background-color: black;
    height: 8vh;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    flex: 1;
    list-style: none;
    color: white;
    /* padding: 3vh; */
    text-align: center;
    padding: 2.7vh 0;
    border: 1px solid white;

}

.mainMenu {

    cursor: pointer;
    display: flex;
    justify-content: center;
}

.mainMenu:hover {
    color: yellow;
}

.mainMenu:active {
    position: relative;
    top: 0.3vh;
}

/*
중단
*/
section {
    height: 100vh;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 4fr;
}

h1 {
    text-align: center;
    font-size: 7rem;
}

#searchCoin {
    text-align: center;
    max-height: 7vh;
}

#searchCoinText {
    font-size: 2rem;
}

#searchCoin_btn {
    font-size: 1.5rem;
    border: 0.1rem solid black;
}

#nowCoin {
    font-size: 2rem;
    color: red;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

#coinImg {
    display: inline-block;
    height: auto;
    width: 3vh;
    position: relative;
    top: 0.3vh;
}

.imgBtn {
    position: absolute;
    padding: 0;
    border: 0;
    height: auto;
    width: 0.7rem;
}

#price_low,
#volume_low {
    bottom: 543px;
}


.imgBtn :hover {
    background-color: yellow;
}

/* .imgBtn:active {
        position: relative;
        top:2vh;
} */


/*
테이블
*/

#main_table {
    width: 70%;
    border-collapse: collapse;
    border-spacing: 0px;
    table-layout: fixed;
    margin: 0 auto;
    text-align: center;
}

.categori {
    font-size: 1rem;
}

thead tr {
    border-bottom: 2px solid black;
}

tbody tr {
    border-bottom: 1px solid rgb(204, 203, 203);
}

tbody td {
    padding: 20px 0px;
}

/*
하단
*/

footer {
    padding-top: 4vh;
    height: 10vh;
}

#copyright {
    text-align: center;
}