<%- include('partials/head')%>
  <link rel="stylesheet" href="/css/CoinPriceComparison.css">
  <title>실시간 코인 가격 비교</title>
  </head>
  <%- include('partials/navbar')%>
    <section>
      <div>
        <h1>실시간 코인 가격 비교</h1>
      </div>
      <br>
      <div id="myID">
        <% if (typeof id !='undefined' ){ %>
          <span>ID : <%=id%><span>
                <% } %>
      </div>
      <div id="searchCoin">
        <input type="text" id="searchCoinText" placeholder="코인이름을 적어주세요!">
        <button id="searchCoin_btn">검색</button>
      </div>
      <div id="nowCoin"><span>현재 검색 코인 : <img id="coinImg" src=""><span id="nowCoinName"></span> </span>
      </div>
      <div id="alert1">
        <span id="closeBtn">&times;</span>
        최초 검색에 나오는 순위는 거래소에서 데이터를 가져오는 순서입니다.<br>필터를 활용해 주세요.
      </div>
      <div id="alert2">
        <span id="errorBtn">&times;</span>
        4대 거래소 중 한 곳에라도 코인이 존재해야 합니다.<br>제대로 된 코인명을 적어주세요.
      </div>
    </section>
    <section>
      <div id="categoriBox">
        <div class="categori">종합 순위</div>
        <div class="categori">심볼명</div>
        <div class="categori">거래소</div>
        <div class="categori" id="priceBox"><span>현재 가격(KRW)</span>
          <div>
            <div id="filterPriceHigh">&#9650;</div>
            <div id="filterPriceLow">&#9660;</div>
          </div>
        </div>
        <div class="categori" id="volumeBox"><span>거래 대금(KRW)</span>
          <div>
            <div id="filterVolumeHigh">&#9650;</div>
            <div id="filterVolumeLow">&#9660;</div>
          </div>
        </div>
        <div class="categori">마지막 거래시각</div>
        <div class="categori">거래 수수료율</div>
      </div>
      <div id="resultBox">
      </div>
    </section>
    <%- include('partials/footer')%>
      <script src="/js/CoinPriceComparisonCoinone.js"></script>
      <script src="/js/CoinPriceComparisonUpbit.js"></script>
      <script src="/js/CoinPriceComparisonBithumb.js"></script>
      <script src="/js/CoinPriceComparisonKorbit.js"></script>
      <script src="/js/CoinPriceComparisonAll.js"></script>
      </body>

      </html>