<%- include('partials/head')%>
    <link rel="stylesheet" href="/css/CoinPriceComparisonLiveBoard.css">
    <title>실시간 종목 토론 - 실코가</title>
</head>


<%- include('partials/navbar')%>
    <section>
        <div id="chatingBox">
            <div id="newText">새 댓글 작성</div>
            <div id="newTextBox">
                <div id="contentBox">
                    <textarea id="textBox" name="textBox" rows="5" cols="33">
</textarea>
             </div>
                <div id="chatLastBox">
                    <div id="chatLimit">글자수 제한<span id="textLimit"></span></div>
                    <div id="chatButton"><span><button id="chatSign">등록</button></span></div>
                </div>
            </div>
    </section>
    <section>
        <div id="displayBox">
            <div id="liveChatList">
                <div class="liveChat">
                    <div class="liveChatId">kk3124</div>
                    <div class="liveChatBox">비트살사람???</div>
                    <div class="liveChatLike">
                           <div><button><img class= "thumb" src="/img/thumb-up.png" alt="thumb-up"></button></div>
                        <div>0</div>
                        <div> <button><img class= "thumb" src="/img/thumb-down.png" alt="thumb-down"></button></div> 
                        <div>0</div>
                    </div>
                </div>
                <div class="liveChat">
                    <div class="liveChatId">dswwe111</div>
                    <div class="liveChatBox">난 안삼</div>
                    <div class="liveChatLike">
                           <div><button><img class= "thumb" src="/img/thumb-up.png" alt="thumb-up"></button></div>
                        <div>0</div>
                        <div> <button><img class= "thumb" src="/img/thumb-down.png" alt="thumb-down"></button></div> 
                        <div>0</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('partials/footer')%>
    <script src="/js/CoinPriceComparisonLiveBoard.js"></script>
</body>

</html>