<%- include('partials/head')%>
  <link rel="stylesheet" href="/css/CoinPriceComparisonSignUp.css">
  <title>회원가입 - 실코가</title>
  </head>


  <%- include('partials/navbar')%>
    <section>
      <form action="/Login" method="post" id="form" onSubmit="return checkForm()">
        <h1>회원가입</h1>
        <label for="id" class="labelForm">ID</label>
        <input type="text" id="id" name="id" placeholder="아이디" class="signUpForm">
        <br>
        <label for="pw" class="labelForm">PW</label>
        <input type="password" id="pw" name="pw" placeholder="비밀번호" class="signUpForm">
        <br>
        <label for="pwConfirm" class="labelForm">confirm PW</label>
        <input type="password" id="pwConfirm" name="pwConfirm" placeholder="비밀번호 확인" class="signUpForm">
        <br>
        <label for="email" class="labelForm">E-Mail</label>
        <input type="email" id="email" name="email" placeholder="이메일 주소" class="signUpForm">
        <br>
        <button id="signUpButton">가입하기</button>
      </form>
    </section>
    <!-- https://nm-it-diary.tistory.com/43 폼 비밀번호 체크 참고 링크 -->
    <%- include('partials/footer')%>
      <script src="/js/CoinPriceComparisonSignUp.js"></script>
      </body>

      </html>