@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'NEXON Lv1 Gothic OTF';
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 130vh;
    overflow: auto;
}

/*   
상단
  */
a {
    text-decoration-line: none;
    color: white;
}


header {
    flex: 1;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

nav ul {
    background-color: black;
    height: 8vh;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 0;
}

nav ul li {
    flex: 1;
    list-style: none;
    color: white;
    text-align: center;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainMenu {

    cursor: pointer;
    display: flex;
    justify-content: center;
}

.mainMenu:hover {
    color: yellow;
}

.mainMenu:active {
    position: relative;
    top: 0.3vh;
}



.signUpForm {
    font-size: 1.5rem;
    margin-top: 6vh;
    margin-bottom: 6vh;
    text-align: center;
    border-bottom:  1px solid black;
    width: 15vw;
}

.labelForm {
    font-size: 2rem;
    text-align: center;

}

#signUpButton {
    text-align: center;
    font-size: 2rem;
    margin-left: 9vw;
}
button:active {
    position: relative;
    top: 0.3vh;
}

button {
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
}

form {
    border:  1px solid black;
    padding: 5vh;
    font-size: 2.5rem;
}

/*
  하단
  */

footer {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

